<h1>Post list</h1>

<a class="btn btn-primary" href="/new"><i class="fa fa-plus mr-2"></i> New post</a>

{{#each posts as |post| }}

<div class="card mt-4" style="width: 100%;">

  <img src="{{image}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h3 class="card-title"><a href="/posts/{{id}}">{{title}}</a></h3>
    <p class="card-text">{{text}}</p>

    <form action="/posts/{{id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash mr-2"></i> Delete</button>
    </form>

  </div>

</div>

{{/each}}